.about-us {
  position: relative;
  background-color: map-get($colors, light);
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 10;
  
  @include breakpoint(sm) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &:before {
    @include before-background();
  }

  &:after {
    @include after-background();
  }

  &__description {
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: $ibmplexsans;
    letter-spacing: 1px;
    margin: 0 auto 1.5rem;

    // @include breakpoint(sm) {
    //   width: 90%;
    // }

    // @include breakpoint(md) {
    //   width: 85%;
    // }
  }
}