.breadcrumbs {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .5) 0%, rgba(0,0,0, 0) 50%);

  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
  }
  &__container {
    @include container();
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    text-transform: uppercase;

    a {
      color: map-get($colors, light);
      transition: color .3s ease-in-out;

      &:hover {
        color: darken(map-get($colors, light), 15%);
      }

      &:active,
      &:focus {
        color: darken(map-get($colors, light), 30%);
      }
    }

    &:not(:last-child) {
      padding-right: 2rem;
      position: relative;

      &::after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;

        color: map-get($colors, light);
        content: '/';
        padding-right: .75rem;
        padding-left: .75rem;
      }
    }

    &--active {
      a {
        color: map-get($colors, blue--lighten);

        &:hover {
          color: darken(map-get($colors, blue--lighten), 15%);
        }

        &:active,
        &:focus {
          color: darken(map-get($colors, blue--lighten), 30%);
        }
      }
    }
  }

  &__arrow {
    width: 15px;
    height: 10px;
    margin-left: .5rem;
    cursor: pointer;

    #arrow-breadcrumbs_Combined-Shape {
      fill: map-get($colors, ligth);
    }

    &--active {
      color: map-get($colors, blue--lighten);
      fill: map-get($colors, blue--lighten);

      #arrow-breadcrumbs_Combined-Shape {
        fill: map-get($colors, blue--lighten);
      }
    }
  }

  &__submenu {
    display: none;
    list-style-type: none;
    padding-left: 0;


    &.is-open {
      display: block;
      animation: moveInTop .5s ease-in;
    }
  }

  &__subitem {
    padding-top: .5rem;
  }
}