.news {
  padding-bottom: 5rem;
}

.news-feed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden;

  @include breakpoint(sm) {
    max-height: 1800px;
  }

  @include breakpoint(lg) {
    max-height: 1200px;
  }
}

.feed {
  width: 100%;

  border: 1px solid map-get($colors, gray);
  border-radius: .5rem;
  box-shadow: 0 0 28px -18px rgba(map-get($colors, black), .75);
  margin-bottom: 5%;

  &:nth-child(n+5) {
    display: none;
  }

  @include breakpoint(sm) {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;

    &:nth-child(n+5) {
      display: block;
    }

    &:nth-child(n+9) {
      display: none;
    }
  }

  @include breakpoint(lg) {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;

    &:nth-child(n+5) {
      display: block;
    }
    &:nth-child(n+9) {
      display: block;
    }
    &:nth-child(n+12) {
      display: none;
    }
  }

  &__heading-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1rem;
    border-bottom: 1px solid map-get($colors, gray);
  }

  &__heading-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &__heading {
    color: map-get($colors, black-light);
    font-size: .875rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .5rem;
  }

  &__time {
    color: map-get($colors, gray-darken);
    font-size: .8125rem;
    line-height: 1.2;
    margin-bottom: 0;
  }

  &__message {
    color: map-get($colors, black);
    font-size: .875rem;
    line-height: 1.2;
    padding: 1rem;
  }

  &__image {
    max-width: 100%;
    padding-bottom: 1rem;
  }

  &__image-box {
    position: relative;
    margin-bottom: 1rem;

    .feed__image {
      padding-bottom: 0;
    }
  }

  &__counter {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5rem 1rem;
    color: map-get($colors, light);
    font-size: .875rem;
    line-height: 1.2;
    font-weight: 700;
    background-color: rgba(map-get($colors, black), .6);
  }

  &__video {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  &__event-name,
  &__content-message {
    color: map-get($colors, black);
    font-size: .875rem;
    line-height: 1.2;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  &__content {
    .feed {
      &__heading-box {
        padding-left: 2rem;
        border-top: 1px solid #dfdfdf;
      }

      &__content-message {
        padding-top: 1rem;
        padding-left: 2rem;
      }

      &__image-box {
        margin-bottom: 0;
      }
    }
  }
}