.gallery {
  position: relative;
  margin-bottom: 5rem;

  &-content {
    height: 31.25rem;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: 31.25rem;
    margin: 0 auto;
    object-fit: contain;
  }

   &__arrow {
     position: absolute;
     top: 50%;

     width: 20px;
     height: 36px;

     z-index: 10;
     cursor: pointer;

     @include breakpoint(sm) {
       width: 30px;
       height: 54px;
     }

     &--next {
       right: 0;
       transform: translateY(-50%);

       @include breakpoint(xs) {
         right: -2rem;
       }
     }

     &--prev {
       left: 0;
       transform: translateY(-50%) rotate(180deg);

       @include breakpoint(xs) {
         left: -2rem;
       }
     }
   }
}