.home-slider {
  position: relative;

  &__image {}

  &__arrow {
    position: absolute;
    top: 50%;

    width: 20px;
    height: 36px;

    z-index: 50;
    cursor: pointer;

    @include breakpoint(sm) {
      width: 30px;
      height: 54px;
    }

    &--next {
      right: 1rem;
      transform: translateY(-50%);
    }

    &--prev {
      left: 1rem;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}