.home {
  position: relative;
  padding-top: 110px;

  @include breakpoint(sm) {
    padding-top: 0;
  }
}

.home-slider {
  position: relative;
  display: none;

  @include breakpoint(sm) {
    display: block;
    padding-top: 110px;
  }

  @include breakpoint(md) {
    padding-top: 0;
  }

  &__image {
    width: 100%;
    display: block;
    margin: 0 auto;

    &--mobile {
      display: block;

      @include breakpoint(sm) {
        display: none;
      }
    }
  }

  &__arrow {
    display: none;
    position: absolute;
    top: 50%;

    width: 20px;
    height: 36px;

    z-index: 10;
    cursor: pointer;

    @include breakpoint(sm) {
      display: block;

      width: 30px;
      height: 54px;
    }

    &--next {
      right: 1rem;
      transform: translateY(-50%);
    }

    &--prev {
      left: 1rem;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}