.nav {
  width: 100%;

  @include breakpoint(md) {
    width: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    padding-top: 1rem;
    padding-left: 1rem;
    list-style-type: none;

    @include breakpoint(md) {
      flex-direction: row;

      align-items: center;
      justify-content: space-between;

      padding-left: 0;
      padding-top: 0;
    }
  }

  &__item {
    padding: .5rem 1rem;
  }

  &__link {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;

    transition: color .3s ease-in-out;

    &,
    &:visited {
      color: map-get($colors, black);
    }

    &:hover,
    &:active,
    &:focus {
      color: map-get($colors, green-light--active);
      border: none;
      background-color: transparent;
      outline: 0;
    }

    @include breakpoint(md) {
      font-size: 1rem;

      &,
      &:visited {
        color: map-get($colors, light);
      }
    }

    @include breakpoint(lg) {
      font-size: 1.125rem;
    }

    &--active {
      color: map-get($colors, green-light--active);

      &:visited {
        color: map-get($colors, green-light--active);
      }
    }
  }
}