.nav {
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 100%;

  padding-left: 0;

  list-style-type: none;

  @include breakpoint(xs) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include breakpoint(md) {
    justify-content: center;
  }

  &__arrow {
    width: 25px;
    height: 20px;
    padding-left: .5rem;
    cursor: pointer;
  }

  &__item {
    margin-bottom: .5rem;

    @include breakpoint(md) {
      margin-bottom: 0;
      margin-right: 2.5rem;
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: map-get($colors, light);
    transition: color .3s ease-in-out;

    &:hover {
      color: lighten(map-get($colors, dark), 10%);
    }

    &:focus {
      outline: none;
      color: darken(map-get($colors, dark), 20%);
    }

    &--active {
      color: map-get($colors, dark);

      &:hover {
        color: lighten(map-get($colors, dark), 15%);
      }

      &:focus {
        outline: none;
        color: darken(map-get($colors, dark), 15%);
      }
    }
  }

  &__submenu {
    display: none;
    list-style-type: none;
    padding-left: 0;

    &.is-open {
      display: block;
      animation: moveInTop .5s ease-in;
    }
  }

  &__subitem {
    padding-top: .5rem;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;

    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    order: 1;

    @include breakpoint(xs) {
      order: 0;
    }

    @include breakpoint(sm) {
      display: none;
      margin-bottom: 0;
      order: 0;
    }

    &.is-open {
      span {
        &:nth-child(1) {
          position: absolute;
          top: 10px;
          left: 0;
          transform: rotate(135deg);
          opacity: .9;
        }

        &:nth-child(2) {
          visibility: hidden;
          height: 12px;
          background-color: transparent;
        }

        &:nth-child(3) {
          position: absolute;
          top: 10px;
          left: 0;
          transform: rotate(-135deg);
          opacity: .9;
        }
      }
    }

    span {
      display: block;
      position: relative;
      left: 0;
      width: 35px;
      height: 3px;
      margin-top: 3px;
      margin-bottom: 3px;
      transform: rotate(0);
      transition: transform .35s ease-in-out, background-color .35s ease-in-out;
      opacity: 1;
      background-color: map-get($colors, light);
    }
  }
}