.patterns {
  @include container();
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include breakpoint(md) {
    background-image: url('../images/category-image.png');
    background-position: center center;
    background-size: cover;
    min-height: 280px;
    margin-bottom: 12rem;
  }

  &__image {
    max-width: 100%;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__content {
    padding: 2rem;
    background-color: map-get($colors, light);
    color: map-get($colors, gray);
    box-shadow: 0 5px 15px 5px rgba(map-get($colors, dark), .45);

    @include breakpoint(xs) {
      padding: 3.125rem;
    }

    @include breakpoint(md) {
      max-width: 620px;
      position: absolute;
      left: 5rem;
      top: 25%;
    }
  }

  &__heading {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: .75rem;
    text-transform: uppercase;

    @include breakpoint(xs) {
      font-size: 2.75rem;
    }
  }

  &__description {
    max-height: 150px;
    position: relative;
    overflow: hidden;

    transition: max-height .35s ease-in-out;
  }

  &__read-more {
    @include btn();

    width: 180px;
  }

  &__read-more-paragraph {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 85px;
    display: flex;
    align-items: flex-end;
    transition: all .3s ease-in-out;

    background-image: linear-gradient(to bottom, transparent 0%, map-get($colors, light) 75%, map-get($colors, light) 100%);
  }

  &__arrow {
    width: 15px;
    height: 20px;
    cursor: pointer;

    transition: transform .3s ease-in-out;
  }
}

.patterns__description.show {
  max-height: 800px;
  overflow: visible;

  & .patterns__read-more-paragraph {
    background-image: none;
    min-height: auto;
    bottom: -4.5rem;
  }
}

.patterns__read-more.open .patterns__arrow {
  transform: rotate(180deg);
}

.patterns__content.open {
  padding: 2rem 2rem 6.125rem 2rem;

  @include breakpoint(xs) {
    padding: 3.125rem 3.125rem 6.125rem 3.125rem;
  }
}
