$indent: 1.5rem;
$playerWidth: calc(25% - #{$indent});

.players {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include breakpoint(md) {
    &:before {
      @include before-background();
    }
  }
}

.players-slider {
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  &-dots {
    &__item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: map-get($colors, gray);
      margin-right: .5rem;
      border: 0;
      cursor: pointer;
      
      &--active {
        background-color: map-get($colors, green-light--active);
      }
    }
  }
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;

    width: calc(200px + 2rem);

    background-color: map-get($colors, green-light--bg);
    box-shadow: 0px 4px 25px -4px rgba(map-get($colors, black), .75);
  }

  &__image {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem auto 0;
  }

  &__name {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 1rem;
  }
}