.products {
  &__container {
    @include container();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.product {
  position: relative;
  max-width: 100%;
  flex: 0 0 100%;
  margin: 0 auto 3rem;
  text-align: center;
  background-color: map-get($colors, light);

  @include breakpoint(xs) {
    max-width: 50%;
    flex: 0 0 50%;
  }

  @include breakpoint(md) {
    max-width: 33.3333333%;
    flex: 0 0 33.3333333%;
  }

  &:hover {
    box-shadow: 0 10px 15px 6px rgba(map-get($colors, dark), .45);
    z-index: 200;
    margin: 0 auto -4.5625rem;
    cursor: pointer;

    .product {
      &__add {
        display: flex;
      }
    }
  }

  &__content {
    max-width: 70%;
    margin: 0 auto;
    padding: 1.5rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__collection {
    border-radius: 1rem;
    padding: .375rem 1rem .5rem;
    text-transform: uppercase;
    color: map-get($colors, light);
    line-height: 1;
    font-weight: 700;

    &--sale {
      background-color: map-get($colors, pink);
    }
    &--new {
      background-color: map-get($colors, blue--darken);
    }
  }

  &__collection-box {
    position: relative;
    z-index: 10;
    margin-bottom: .5rem;
    min-height: 25px;
    align-self: flex-start;
  }

  &__image {
    max-width: 100%;
    margin-bottom: .75rem;
    flex: 0 0 auto;
  }

  &__heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-size: 1.125rem;
    max-width: 100%;
  }

  &__old-price {
    text-decoration: line-through;
    color: map-get($colors, dark);
    font-size: .875rem;
  }

  &__current-price {
    font-size: 1rem;
    line-height: 1.2;
  }

  &__price {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0;

    &--sale {
      color: map-get($colors, pink);
    }
  }

  &__vat {
    font-size: .9375rem;
    margin-bottom: 0;
  }

  &__add {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
  }

  &__to-basket {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    text-align: center;
    flex: 0 0 100%;
    color: map-get($colors, light);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    border: 0;
    background-color: map-get($colors, blue);
    margin: 1rem 0;
    cursor: pointer;
  }

  &__favorite,
  &__compare {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: map-get($colors, dark);
    text-transform: uppercase;
    font-size: .875rem;
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  &__icon {
    padding-right: .5rem;
    width: 25px;
    height: 25px;
  }
}