.recruitment {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }

  &__image-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    margin-bottom: 3rem;

    &:after {
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      content: '';
      height: 49px;
      width: 100%;
      background: url('../images/background-before.png') top center / cover no-repeat;
    }

    @include breakpoint(md) {
      flex: 1 0 50%;
      max-width: 50%;

      margin-bottom: 0;

      &:before {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;
    text-align: center;

    @include breakpoint(md) {
      flex: 1 0 50%;
      max-width: 50%;

      text-align: left;
    }

    @include breakpoint(lg) {
      padding-right: 4rem;
    }
  }

  &__content-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 56rem;

    @include breakpoint(md) {
      padding: 0 3rem;
    }

    @include breakpoint(lg) {
      padding: 0 6rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: $ibmplexsans;
  }

  &__image {
    max-width: 100%;
    max-height: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}