.recruitment {
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
  }

  &__image-box {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 0 50%;
    max-width: 50%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 8.5rem;

    flex: 1 0 50%;
    max-width: 50%;
  }

  &__content-wrap {
    padding: 0 15rem 0 10rem;
  }

  &__description {
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: $ibmplexsans;
  }
}