.search {
  &__input {
    display: none;
    background: transparent;
    color: map-get($colors, light);
    border: 0;
    outline: 0;
    
    &::placeholder {
      color: map-get($colors, light);
    }
  }

  &__btn {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
}