.smart-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;

  @include breakpoint(xs) {
    margin-bottom: 0;
  }

  &__item {
    cursor: pointer;
    position: relative;
    z-index: 10;

    &:not(:first-child) {
      margin-left: 2.5rem;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__counter {
    position: absolute;
    top: -25%;
    right: -75%;

    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color: map-get($colors, light);
    line-height: 1;
    font-weight: 700;

    z-index: 20;

    &--wish {
      background-color: map-get($colors, pink);
    }

    &--shop {
      background-color: map-get($colors, blue);
    }
  }
}