.products-per-page {
  border-bottom: 1px solid map-get($colors, darker);
  margin-bottom: 1.5rem;

  @include breakpoint(xs) {
    margin-bottom: 0;
  }

  &__label {
    color: map-get($colors, darker);
    border: 0;
    background-color: transparent;
    padding-right: .5rem;
  }

  &__select {
    border: 0;
    background: transparent;
    appearance: none;
    position: relative;
  }

  &__arrow {
    width: 15px;
    height: 20px;
    cursor: pointer;
  }
}

.sort {
  border-bottom: 1px solid map-get($colors, darker);

  &__label {
    color: map-get($colors, darker);
    border: 0;
    background-color: transparent;
    padding-right: .5rem;
  }

  &__select {
    border: 0;
    background: transparent;
    appearance: none;
    position: relative;
  }

  &__arrow {
    width: 15px;
    height: 20px;
    cursor: pointer;
  }
}