@import './variables';

@mixin breakpoint($point) {
  @if $point==xs {
    @media (min-width: map-get($breakpoints, 'xs')) {
      @content;
    }
  }

  @else if $point==sm {
    @media (min-width: map-get($breakpoints, 'sm')) {
      @content;
    }
  }

  @else if $point==md {
    @media (min-width: map-get($breakpoints, 'md')) {
      @content;
    }
  }

  @else if $point==lg {
    @media (min-width: map-get($breakpoints, 'lg')) {
      @content;
    }
  }

  @else if $point==xl {
    @media (min-width: map-get($breakpoints, 'xl')) {
      @content;
    }
  }
}

@mixin container() {
  width: 100%;
  position: relative;

  margin-right: auto;
  margin-left: auto;

  padding-right: map-get($grid, gutter);
  padding-left: map-get($grid, gutter);

  @each $breakpoint in $breakpoints {
    @include breakpoint(nth($breakpoint, 1)) {
      max-width: map-deep-get($grid, 'container', nth($breakpoint, 1));
    }
  }
}

@mixin container-simple() {
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint in $breakpoints {
    @include breakpoint(nth($breakpoint, 1)) {
      max-width: map-deep-get($grid, 'container', nth($breakpoint, 1));
    }
  }
}

@mixin btn() {
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 1.75rem;
  display: inline-block;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  cursor: pointer;

  &:hover {
  }

  &:active,
  &:focus {
    outline: none;
  }
}

@mixin before-background() {
  display: block;
  position: absolute;
  top: -49px;
  left: 0;
  right: 0;
  content: '';
  height: 49px;
  width: 100%;
  background: url('../images/background-before.png') top center / cover no-repeat;
}

@mixin after-background() {
  display: block;
  position: absolute;
  bottom: -49px;
  left: 0;
  right: 0;
  content: '';
  height: 49px;
  width: 100%;
  background: url('../images/background-after.png') top center / cover no-repeat;
}