$colors: (
  light: #fff,
  background-light: #dcffee,

  black: #000,
  black-light: #1d1d1b,

  red: #be2830,

  green: #002d22,
  green-light: #084531,
  green-light-2: #1c3b29,
  green-light--active: #609b79,
  green-lighten: #70a2ac,
);

$ibmplexsans: 'IBM Plex Sans',
sans-serif;

$grid: (
  gutter: 1rem,

  container: (
    xs: 540px,
    sm: 730px,
    md: 960px,
    lg: 1170px
  )
);

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
)
