html {
  font-size: 93.75%;
  overflow-x: hidden;

  @include breakpoint(sm) {
    font-size: 100%;
  }

}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

*::selection {
  background-color: map-get($colors, green-light);
  color: map-get($colors, light);
}