.heading {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  display: inline;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 150%;
    width: 40px;
    background: url('../images/logo/logo-dark@bg.png') center center / cover no-repeat;
    z-index: -1;
    transform: translate(-25%, -25%);
  }

  &:after {
    display: block;
    content: '';
    height: 3rem;
    width: 1px;
  }

  &--h2 {
    font-size: 2rem;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: 2.75rem;
    }
  }

  &--h3 {
    font-size: 1.75rem;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: 2.25rem;
    }
  }

  &--light {
    color: map-get($colors, light);

    &:before {
      display: none;
    }

    // &:before {
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   content: '';
    //   height: 150%;
    //   width: 40px;
    //   background: url('../images/logo/logo-white@bg.png') center center / cover no-repeat;
    //   z-index: -1;
    //   transform: translate(-75%, -25%);
    // }

    &:after {
      display: block;
      content: '';
      height: 3rem;
      width: 1px;
    }
  }
}

.link {
  color: map-get($colors, green-light--link);

  &:hover {
    color: map-get($colors, green-light--active);
  }

  &:active,
  &:focus {
    color: map-get($colors, green-light-2);
    outline: none;
    text-decoration: none;
  }
}