.heading {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  margin-bottom: 3rem;

  &--h2 {
    font-size: 2rem;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: 2.75rem;
    }
  }

  &--h3 {
    font-size: 1.75rem;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: 2.25rem;
    }
  }

  &--light {
    color: map-get($colors, light);
  }
}

.link {
  &,
  &:visited {
    color: map-get($colors, green-light--link);
  }
  
  &:hover,
  &:active,
  &:focus {
    color: map-get($colors, green-light--active);
    outline: none;
    text-decoration: none;
  }
}