.footer {
  &__container {
    @include container();
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__copyright {
    font-size: .875rem;
    color: map-get($colors, dark);
  }

  &__created {
    font-size: .9375rem;
    color: map-get($colors, gray);
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include breakpoint(md) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__link {
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__card {

    &:not(:last-child) {
      margin-right: .75rem;
    }

    &--visa {
      width: 53px;
      height: 18px;
    }

    &--mc {
      width: 50px;
      height: 40px;
    }
  }
}