.header {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-left: 1rem;
  padding-right: 1rem;

  flex-direction: row;
  align-items: center;

  background-color: transparent;

  z-index: 20;

  &__logo {
    margin-right: auto;
  }

  &__navi {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 90vw;
    height: 100vh;
    background-color: map-get($colors, light);
    transition: left .35s ease-in-out;

    &--active {
      left: 10vw;
    }

    @include breakpoint(sm) {
      position: relative;
      left: 0;

      margin-left: .5rem;

      width: auto;
      height: auto;

      background-color: transparent;
    }
  }

  &__navi-overlay {

  }
  &__navi-close {}

  &__navi-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: map-get($colors, light);
      border-radius: .5rem;
      transition: background-color .3s ease-in;

      &:not(:last-child) {
        margin-bottom: .3125rem;
      }
    }

    &--active {
      span {
        background-color: map-get($colors, green-light--active);
      }
    }

    @include breakpoint(sm) {
      display: none;
    }
  }

  &__lang-switcher {
    font-size: 0;
    line-height: 1;
  }
}
